body {
    font-family: "FF Dax", sans-serif;
    background-color: #351c15
}


form {
    background-color: #f9f9f9; 
    padding: 28px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    margin: 20px auto; 
    max-width: 400px; 
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; 
}

/* Style the inputs */
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049; 
}

h1 {
    text-align: center; 
    color: #FAB80A; 
    font-size: 2.5em; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}
a {
    color:#FAB80A
}
a:hover {
    color: #FFA000;
}



label[for="bubble_wrap"],
label[for="peanuts"] {
    display: block; 
    text-align: center; 
}


.result-page {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px auto;
    max-width: 800px; 
}

.result-title {
    font-size: 2em;
    color: #333; 
    text-align: center;
    margin-bottom: 20px;
}

.result-description {
    font-size: 1.2em;
    color: #666; 
    line-height: 1.5;
    margin-bottom: 20px;
}
.logo-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
}
.logo-container img {
    width: 100px; 
    height: auto; 
}